*{
    margin: 0;
    padding: 0;
}

.login-container{
    width: 100vw;
    height: 100vh;
    background-color: #154D71;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card{
    background-color: white;
    width: 40%;
    border-radius: 20px;
}
.login-avatar-container{
    display: flex;
    justify-content: space-evenly;
}
img{
    width: 100px;
    height: 130px;
}